.comments {
    position: fixed;
    /*margin-left: 70rem;*/
    /*width: 22rem;*/
    right: 0.5rem;
    z-index: 1;
}

.comment {
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--N800);
    background-color: white;
    border: 1px solid var(--N40);
    box-shadow: 0px 4px 8px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.21);
    border-radius: 4px;
    z-index: 2;
}

.commentReference {
    background-color: #FFF0B3;
    padding: 0.2rem;
    border-radius: 2px;
}

.commentForm {
    z-index: 5;
}

.commentHighlight {
    background-color: #FFF0B3;
}