.commentBlock {
    /*display: block;*/
    /*position: absolute;*/
    right: 0;
    z-index: -1;
}

.comment {
    /*position: relative*/
}

.deleteButton {
    /*position: relative;*/
    z-index: -1;
}