.folderContainer {
  /* min-width: 250px;
  position: relative;
  z-index: 9999;
  background: white;
  padding: 10px; */
  padding: 10px;
}

.projectContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

.sidebarContainer {
  max-width: 400px;
  min-width: 250px;
  position: relative;
  z-index: 999;
  background: white;
  border-right: 1px solid rgb(239, 241, 244);
  padding: 10px;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .projectContainer {
    flex-direction: column;
  }

  .sidebarContainer {
    display: none;
    border: 0;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(239, 241, 244);
    width: 100%;
    max-width: 100%;
  }
}
