.button {
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #1e2328;
    color: white;
    font-weight: 600;
    font-size: 18px;
  
    /* transition: 150ms all ease-in-out; */
    box-shadow: rgb(0 0 0 / 18%) 0px 0.60323px 0.60323px -1.25px,
      rgb(0 0 0 / 16%) 0px 2.29021px 2.29021px -2.5px,
      rgb(0 0 0 / 6%) 0px 10px 10px -3.75px;
  }
  
  .buttonSmall {
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 14px;
  }
  
  .button:hover {
    color: white;
    background-color: #3e454b;
    text-decoration: none;
  }
  
  .button.primary {
    background-color: #1fb597;
  }
  
  .button.primary:hover {
    background-color: #13cca7;
  }
  
  .button.secondary {
    background-color: #467ea1;
  }
  
  .button.secondary:hover {
    background-color: rgb(77, 154, 202);
  }
  
  .button.inverted {
    color: #676767;
    background-color: transparent;
    border: 1px solid #676767;
  }
  
  .button.inverted:hover {
    background-color: #f3f3f3;
  }