/* @import-normalize; */
@import "../../../../node_modules/@atlaskit/css-reset/dist/bundle.css";
@import url("fonts-inter.css");
@import "github-markdown.css";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[data-is-sidebar-dragging="true"] iframe {
  pointer-events: none !important;
}

[data-resize-button="true"] > div {
  display: none; /* disable extra margin around the resize button */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a:active,
a:focus {
  outline: none;
}

a {
  color: #2c73c5;
}

/* @import "~react-resizable/css/styles.css"; */
body {
  margin: 0;

  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgb(60, 65, 73);
}

html,
body,
#root,
.fullSize {
  width: 100%;
  height: 100%;
}

.centered {
  text-align: center;
}

.page {
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a3a3a;
}

.react-draggable {
  position: absolute;
}

/* Some generic layout classes */
.row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.white {
  background: white;
}

/* .hint::before {
  display: inline-block;
  position: absolute;
  content: attr(data-hint);
} */

/* .hint,
.placeholder {
  pointer-events: none;
  display: inline-block;
  width: 0;
  max-width: 100%;
  white-space: nowrap;
  opacity: 0.333;
  user-select: none;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
} */

/* // https://github.com/react-dnd/react-dnd/issues/832#issuecomment-442071628
// TODO: should only be set when dragging */

/* .cellList-item,
.cellList-item .notebookCell {
  transform: translate3d(0, 0, 0);
} */

.dropruler {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 4px;
  /* margin-top: calc(-2px - 0.5 * 17px); */
  background: rgba(0, 0, 0, 0.5);
}

.dropruler.top {
  top: -11px;
}
.dropruler.bottom {
  bottom: -10px;
}

/* Define a set of colors to be used throughout the app for consistency
see https://atlassian.design/foundations/color for more info */
:root {
  --N800: #172b4d; /* Dark neutral used for tooltips and text on light background */
  --N40: #dfe1e6; /* Light neutral used for subtle borders and text on dark background */
}

.collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  word-break: normal;
  pointer-events: none;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  position: absolute;
  top: -1.4em;
  left: -1px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #0d0d0d;
  padding: 0.1rem 0.3rem;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
  z-index: 100000;
}

.yRemoteSelection {
  position: relative;
  background-color: rgb(250, 129, 0);
  opacity: 0.5;
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  box-sizing: border-box;
  z-index: 10000;
  opacity: 1;
  position: absolute;
  left: -2px;
  top: 100%;
  border-radius: 3px;
  border-top-left-radius: 0;
  padding: 0 5px;
  color: #0d0d0d;
}

:focus {
  outline: none;
}
