/* Shared styles by Login.tsx and Registration.tsx */

.AuthPage {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 251, 252);
}

.AuthHeader {
  width: 100%;
  height: 100px;
  padding-top: 15px;
}

.AuthHeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* .AuthBody {
} */

.AuthForm {
  position: relative;
  border: 1px solid;
  border-color: var(--N40);
  box-shadow: 0px 4px 8px rgba(9, 30, 66, 0.25),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4;
  width: 400px;
  margin: 16px auto;
  padding: 16px;
  background: white;
}

@media (max-width: 704px) {
  .AuthForm {
    border: 0;
    box-shadow: none;
  }

  .AuthPage {
    background-color: white;
  }
}

.AuthForm p {
  margin: 0px 0 10px 0;
}

.AuthFormFooter {
  color: rgb(107, 119, 140);
  padding-top: 16px;
  margin-top: 32px;
  border-top: 1px solid rgb(213, 216, 222);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.AuthFooter > div {
  justify-content: center;
}

.AuthButton {
  font-weight: bold !important;
  margin: 16px 0 0 0;
  padding: 10px 0;
  height: 40px !important;
  line-height: 40px !important;
}

.SSOButton {
  background: white !important;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0px !important;
}

.SSOButton:hover {
  background-color: rgb(250, 251, 252) !important;
}

.SSOButton:active {
  background-color: rgba(9, 30, 66, 0.25) !important;
}

.OrSeparator {
  text-align: center;
  color: rgb(184, 184, 184);
  margin-top: 1em;
}
