.delete {
  position: absolute;
  bottom: -2px;
  right: 0;

  position: absolute;
  margin: 0px;
  opacity: 50%;
  border: none;
  background: none;
  cursor: pointer;
  color: black;
  font-family: "Segoe UI Emoji", "Roboto Mono", monospace;
  font-size: 1.2em;
}

/* WARNING: A lot of styles are still defined in index.css, mostly related to hovering behavior */
