.main > header::after {
  /* background: none; */
  background: linear-gradient(
    180deg,
    rgba(239, 241, 244, 1) 0,
    rgba(239, 241, 244, 0.13) 3px,
    rgba(239, 241, 244, 0.08) 4px,
    rgba(239, 241, 244, 0) 5px
  );
  height: 5px;
}

.main.homepage > header::after {
  background: none !important;
  height: 5px;
}

.main.homepage {
  background: linear-gradient(
      180deg,
      rgba(0, 255, 255, 0) 0%,
      rgba(0, 255, 255, 0) 400px,
      rgba(255, 255, 255, 1) 700px
    ),
    radial-gradient(circle at 15% 35%, #4caf7e33, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 20%, #e3fafc, rgba(255, 255, 255, 0) 25%),
    white;
  background-repeat: no-repeat;
}

.main.homepage > header[role="banner"] {
  /* background: white !important; */
  transition: 0.2s ease !important;
  transition-property: background-color, backdrop-filter !important;
  backdrop-filter: blur(6px) !important;
  background-color: #fffc !important;

  position: fixed;
  width: 100%;
  z-index: 10000;
}

.main.homepage.top > header[role="banner"] {
  background: none !important;
}

.main.ai header div {
  display: none;
}

.main.ai nav div {
  display: none;
}

.main.ai nav span {
  display: none;
}

.main {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
}
.main > header {
  /* z-index: 10000000; */
  /* border-bottom: 1px solid rgb(239, 241, 244); */
  /* border-bottom: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

/* Page wrapper styles */
.page {
  overflow: auto;
  padding: 8px;
}
