.block {
  display: block;
  /* use padding instead of margin. 
  We want blocks to be adjacent, 
  so that drag-handle never dissappears when moving vertically 
  but instantly moves to next element */
  padding: 0.5rem 0;
  position: relative;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
  min-height: 1rem; /* same as .handle height */
  position: relative;
  z-index: 2;
}

.handleContainer {
  position: absolute;
  z-index: -1;
}

.block p {
  margin: 0;
}

.handle {
  display: none;
  left: -20px;
  top: 1px;
  position: relative;
  width: 1rem;
  height: 1rem;
  cursor: grab;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.handle.hover {
  display: block;
}

.mouseCapture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50vw;
  width: 200vw;
  z-index: 1;
}

.codeBlockLanguageSelector {
  position: absolute;
  outline: none;
  top: 0.25rem;
  right: 0.25rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: lightgrey;
  font-weight: bold;
}

.codeBlockLanguageSelector:hover {
  cursor: pointer;
}

.codeBlockPre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.codeBlockCodeContent {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
