.block {
  display: block;
  /* use padding instead of margin. 
  We want blocks to be adjacent, 
  so that drag-handle never dissappears when moving vertically 
  but instantly moves to next element */
  padding: 0.5rem 0;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
  min-height: 1rem; /* same as .handle height */
}

.handleContainer {
  position: absolute;
}

.block p {
  margin: 0;
}

.handle {
  display: none;
  left: -20px;
  top: 1px;
  position: relative;
  width: 1rem;
  height: 1rem;
  cursor: grab;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.block:hover .handle {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.content {
}
blockquote.content {
  padding: 0.5rem 1rem;
}

blockquote.content p {
  padding: 0.5rem 0;
}

hr.content {
  position: relative;
  top: 0.5rem; /* half of handle height */
}
