select {
  position: absolute;
  outline: none;
  top: 0.25rem;
  right: 0.25rem;
  border: none;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: lightgrey;
  font-weight: bold;
}

select:hover {
  cursor: pointer;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

:global(.hljs-comment),
:global(.hljs-quote) {
  color: #616161;
}

:global(.hljs-variable),
:global(.hljs-template-variable),
:global(.hljs-attribute),
:global(.hljs-tag),
:global(.hljs-name),
:global(.hljs-regexp),
:global(.hljs-link),
:global(.hljs-name),
:global(.hljs-selector-id),
:global(.hljs-selector-class) {
  color: #f98181;
}

:global(.hljs-number),
:global(.hljs-meta),
:global(.hljs-built_in),
:global(.hljs-builtin-name),
:global(.hljs-literal),
:global(.hljs-type),
:global(.hljs-params) {
  color: #fbbc88;
}

:global(.hljs-string),
:global(.hljs-symbol),
:global(.hljs-bullet) {
  color: #b9f18d;
}

:global(.hljs-title),
:global(.hljs-section) {
  color: #faf594;
}

:global(.hljs-keyword),
:global(.hljs-selector-tag) {
  color: #70cff8;
}

:global(.hljs-emphasis) {
  font-style: italic;
}

:global(.hljs-strong) {
  font-weight: 700;
}
