table {
  table-layout: fixed;
  margin: 0;
  border-collapse: collapse;
}

table .react-renderer {
  margin: 0;
}

table [data-node-view-content] > div {
  margin: 0;
  background: transparent;
  padding: 0;
  margin: auto;
}

table > div {
  max-width: 100%;
}

tr {
  max-width: 100%;
  border: solid 0.05em black;
  word-wrap: break-all;
}

td,
th {
  word-wrap: break-word;
  padding: 0.5em !important;
  border: solid 0.05em black !important;
}

:global(.selectedCell) {
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
