.host > header::after {
  /* background: none; */
  background: linear-gradient(
    180deg,
    rgba(239, 241, 244, 1) 0,
    rgba(239, 241, 244, 0.13) 3px,
    rgba(239, 241, 244, 0.08) 4px,
    rgba(239, 241, 244, 0) 5px
  );
  height: 5px;
}

.host {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
}
.host > header {
  z-index: 10000000;
  /* border-bottom: 1px solid rgb(239, 241, 244); */
  /* border-bottom: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
}
