/*For the text inside the Node View Content*/
[data-node-view-content] > div {
  display: block;
  margin: 0;
  /* background: #eeeeee;  */
}

.editor {
  padding-bottom: 1rem; /*ensures drop indicator fits at the bottom of the editor*/
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #aeb8c2;
  pointer-events: none;
  height: 0;
  font-style: italic;
}

.ProseMirror li.is-empty::before,
.ProseMirror h1.is-empty::before,
.ProseMirror h2.is-empty::before,
.ProseMirror h3.is-empty::before,
.ProseMirror h4.is-empty::before,
.ProseMirror h5.is-empty::before,
.ProseMirror h6.is-empty::before,
.ProseMirror blockquote.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #aeb8c2;
  pointer-events: none;
  height: 0;
}

.ProseMirror blockquote.is-empty::before {
  margin-top: 0.5rem; /* same margin as paragraph, because we want to show it in the exact same position as child paragraph */
}

.ProseMirror pre {
  padding: 8px;
  border-radius: 5px;
  background-color: #333 !important;
  color: #eee !important;
}

.ProseMirror blockquote {
  border-left: 2px solid #262626;
  color: #262626;
}

.ProseMirror hr {
  border: 1px solid #262626;
  border-radius: 5px;
  background-color: #262626;
}

blockquote {
  margin: 0;
}

.ProseMirror ul,
.ProseMirror ol {
  margin: 0;
  padding: 0;
}

.ProseMirror li {
  margin-left: 1.1rem;
}

.ProseMirror {
  overflow-y: visible;
  overflow-x: clip;
}

.indent {
  margin-left: 1.1rem;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
}

.ProseMirror blockquote {
  padding: 0.5rem 1rem;
}

.ProseMirror blockquote p {
  padding: 0.5rem 0;
}

.ProseMirror hr {
  position: relative;
  top: 0.5rem; /* half of handle height */
}

.ProseMirror .mention {
  color: #a975ff;
  background-color: rgba(#a975ff, 0.1);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.ProseMirror a {
  cursor: pointer;
}
