.page {
  padding: 0 1em;
  font-size: 18px;
}

* img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 3em 0;
  position: relative;
  /* background: url(./assets/background_pattern.png),
    linear-gradient(0deg, #eff7fc, #eff7fc); */
  /* background: linear-gradient(0deg, #eff7fc, #eff7fc); */
  /* background: radial-gradient(
    106.9% 91.8% at 110% 110%,
    #7cee6f 0%,
    white 100%
  ); */
  min-height: 80vh;
}

.introduction .github {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2em 1.5em;
}

.introduction .logo {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 70px;
}

.introduction .buttons {
  margin-top: 3em;
  display: flex;
  gap: 2em;
}

.introduction h1 {
  color: #2b4869;
  font-size: 2.9em;
  line-height: 1.5em;
  font-weight: bold;
}

.demo {
  /* background-color: white; */
  position: relative;
  display: flex;
  justify-content: center;
}

.code_block {
  display: block;
  margin: 5em 0;
}

.code_block img {
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px -20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 90%;
}

.perks {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 4em 0; */
  /* position: relative; */
  /* top: -8em; */
  /* margin-bottom: -8em; */
  /* box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.055); */
  display: grid;
  flex: 0 0 auto;
  gap: 20px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
}

.perksSection {
  /* background: white; */
}

.perks .perk {
  /* display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center; */
  background: white;
  flex: 0 0 auto;
  place-self: start;
  text-align: left;
  padding: 40px;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px -20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
  position: relative;
}

.perk h3 {
  font-weight: 600;
  margin: 0.5em 0;
  font-size: 1.8em;
}

.perks .perk .icon {
  display: flex;
  height: 30px;
  margin-bottom: 1.2em;
}

.perks .perk span {
  color: rgb(91 94 118);
  line-height: 1.9em;
  font-weight: 500;
}

.perks .separator {
  min-height: 100%;
  width: 1px;
  background-color: rgb(230, 230, 230);
}

.notebooks {
  /* background: white; */
  padding: 6em 0;
  text-align: center;
}

.page h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0 auto 1em auto;
}

.notebooks .text {
  text-align: center;
  width: 100%;
  padding: 0 6em;
  margin-bottom: 2em;
}

.notebooks .overview {
  margin-top: 3em;
  padding: 0 2em;
  display: flex;
  justify-content: space-evenly;
}

.social img {
  height: 40px;
  border-radius: 10px;
}

.notebooks .notebook {
  padding: 0 2em;
  flex: 1 1;
  max-width: 100%;
  overflow: hidden;
}

.section_separator {
  margin: 0 auto;
  height: 1px;
  background-color: rgb(230, 230, 230);
  width: 100px;
}

.build {
  padding: 4em 0;
  justify-content: center;
}

form {
  margin: 0;
  display: contents;
}

button {
  cursor: pointer;
}

.build p {
  margin-bottom: 2em;
}
.buttons {
  width: 100%;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.buttons input {
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 1em 1em;
}
.build .link {
  text-decoration: underline;
  font-weight: 600;
  color: #5f5f5f;
}

.footer {
  text-align: left;
  background-color: #f6f6f6;
  position: relative;
  padding: 1em 1em 0 1em;
}

.footer > div {
  height: 100%;
}

.footer .links {
  display: flex;
  flex: 1 1;
  width: 100%;
  padding: 1em 0;
}

.footer .links ul {
  list-style: none;
  padding: 0;
}

.links ul a {
  color: #a4a4a4;
}

.links ul a:hover {
  text-decoration: none;
}

.links ul a span {
  text-decoration: underline;
}

.links ul a:before {
  content: "› ";
  display: inline;
  text-decoration: none;
}

.footer .bottom {
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
  color: #b8b8b8;
  padding: 0 0 0.5em 0;
}

@media only screen and (max-width: 768px) {
  .introduction {
    padding-left: 1em;
    padding-right: 1em;
  }

  .introduction h1 {
    font-size: 1.6em;
  }

  .buttons {
    flex-direction: column;
    gap: 1em !important;
  }

  .code_block img {
    width: 100%;
  }

  .perks {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .notebooks {
    padding: 2em 0 0 0;
  }

  .notebooks h2 {
    margin-bottom: 0;
  }

  .notebooks .text {
    padding: 1em;
  }

  .notebooks .overview {
    flex-direction: column;
    padding: 2em;
    margin-top: 0;
    justify-content: center;
  }

  .notebooks .notebook {
    padding: 0;
    flex: 1 1;
    width: 100%;
    overflow: hidden;
    margin: 0 auto 3em auto;
    max-width: 350px;
  }

  .notebooks .notebook:last-child {
    margin-bottom: 1em;
  }

  .build {
    padding: 3em 1em;
  }
}

.header {
  --content-max-width: 1480px;

  position: relative;
  display: flex;
  gap: 84px;
  width: var(--content-max-width);
  max-width: 100%;
  margin: 0 auto 52px;
  padding: 0 52px;
  padding-top: 226px;
}

@media (max-width: 1280px) {
  .header {
    gap: 64px;
    padding-right: 32px;
  }
}
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 12px;
  }
}

.headerContent {
  flex: 1.2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

@media (max-width: 1024px) {
  .headerContent {
    align-items: center;
  }
}

.headerMedia {
  display: flex;
  flex-direction: column;
  /* transform: translateY(-80px); */
  max-width: 696px;
  width: 100%;
}

@media (max-width: 1460px) {
  .headerMedia {
    width: 44%;
  }
}
@media (max-width: 1280px) {
  .headerMedia {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .headerMedia {
    width: 100%;
    transform: translateY(0);
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .headerMedia {
    display: none; /* disable on mobile */
  }
}

.header .icon {
  width: 160px;
  height: 160px;
  /* color: var(--sb-foreground-highlight); */
  /* -webkit-mask-image: $icon-mask;
  mask-image: $icon-mask;

  @media (prefers-contrast: more) {
    display: none;
  }

  @media (min-width: $bp-medium) {
    width: 200px;
    height: 200px;
  } */
}

.header h1 {
  margin-bottom: 0;
  font-family: Gilroy, var(--vp-font-family-base);
  line-height: 1.2;
  font-weight: 400;
  margin-top: -25px;
  font-size: 76px;
  letter-spacing: -2px;
  line-height: 1;
  color: #000;
  :root.dark & {
    color: #fff;
  }

  strong {
    font-weight: 600;
  }
}

@media (max-width: 1400px) {
  .header h1 {
    font-size: 68px;
  }
}
@media (max-width: 1280px) {
  .header h1 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .header h1 {
    text-align: center;
  }
}
@media (max-width: 960px) {
  .header h1 {
    font-size: 40px;
  }
}

.header p {
  max-width: 600px;
  margin: 0.75em 0 1.5em;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}

@media (max-width: 1280px) {
  .header p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .header p {
    margin-bottom: 12px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  .header p {
    font-size: 16px;
  }
}

.ctaButtons {
  --vp-c-text-light-1: rgba(60, 60, 67);
  --vp-c-text-light-2: rgba(60, 60, 67, 0.75);
  --vp-c-text-light-3: rgba(60, 60, 67, 0.33);
  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);
  --vp-c-brand: hsl(200 80% 38%);
  --vp-c-brand-light: hsl(195 85% 42%);
  --vp-c-brand-lighter: hsl(190 90% 48%);
  display: flex;
  gap: 16px;
  width: 100%;
}

@media (max-width: 1024px) {
  .ctaButtons {
    justify-content: center;
  }
}

.ctaButtons a {
  --border-thickness: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  width: min(100%, 300px);
  padding: 4px 8px;
  border-radius: 38px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 700;
  color: var(--vp-c-text-1);
  --border-thickness: 2px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 var(--border-thickness) var(--vp-c-text-1);
  backdrop-filter: blur(4px);
  transition: 0.16s ease;
  transition-property: background-color, border-color, box-shadow, color,
    transform;
}

.ctaButtons a:hover {
  --border-thickness: 1px;
  background-color: #fff;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0 var(--border-thickness) var(--vp-c-brand-lighter),
    0 0 24px -10px var(--vp-c-brand-lighter);
  transform: translateY(-2px);
  text-decoration: none;
  color: var(--vp-c-text-1);
}
.ctaButtons a.simple {
  width: min(100%, 200px);
  text-underline-offset: 2px;
  box-shadow: none !important;
  text-decoration: underline;
  background-color: transparent !important;
  backdrop-filter: none;
}

.ctaButtons a.simple:hover {
  color: var(--vp-c-brand);
}
