.icon {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  background-color: white;
}

.icon2 {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  background-color: white;
  padding: 10px;
}

.icon3 {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  padding: 5px;
}

.icon4 {
  border-radius: 4px;
  background-color: white;
  padding: 5px;
}
