.menu {
  width: 100%;
  height: 42px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 2px 12px 0 12px;
  border-bottom: 1px solid #f3f3f3;
  justify-content: space-between;
}

.menu * {
  font-size: 12px;
  font-weight: bold;
  color: #c9c9c9;
  /* Override breadcrumb animation */
  transition: 350ms color ease !important;
}

.menu:hover * {
  color: #858585;
}

.menu > .actions {
  height: 100%;
  /* margin-left: auto; */
  padding-right: 2px; /* Correct profile image padding */
}

.actions > ul,
.actions > ul li {
  display: flex;
  height: 100%;
  align-items: center;
}

.actions > ul {
  list-style-type: none;
}

.actions > ul .item,
.actions > ul .separator {
  padding: 0 12px;
}

.actions > ul .item {
  transition: 350ms all ease;
}

.actions > ul .item:hover {
  cursor: pointer;
  background-color: #f4f5f7;
}

.actions > ul .item .icon {
  padding: 9px 6px 6px 0;
}

.actions > ul .separator:after {
  content: "";
  height: 50%;
  display: block;
  border-right: 1px solid #e0e0e0;
}

.actions > ul .options * {
  font-weight: normal;
}

.actions > ul .options * :active {
  background-color: #f4f5f7;
  color: #858585;
  fill: #f4f5f7;
}

.actions > ul .options:hover {
  cursor: pointer;
}

.actions > ul li + li {
  margin: 0;
}

.fork_alert {
  display: flex;
  align-items: center;
  background-color: #fff8e6;
  border-radius: 3px;
  padding: 0 10px 0 5px;
  color: #bf7e00;
}

.fork_alert span {
  text-decoration: underline;
}

.fork_alert a:hover {
  text-decoration: none;
}

.fork_alert a:focus {
  outline: none;
}

.fork_alert a:before,
.fork_alert a:after {
  content: "\00a0 ";
  display: inline;
}

.fork_alert,
.fork_alert *,
.fork_alert:hover,
.fork_alert:hover * {
  color: #bf7e00 !important;
}
