.select {
  caret-color: transparent;
}

.restriction_select {
  flex-grow: 1;
}

.remove {
  display: inline-block;
  height: 2.5rem;
  background: #005cc5;
}

.user,
.user > * {
  display: flex;
  height: 2.5rem;
  align-items: center;
  column-gap: 0.5rem;
}

.actions {
  width: 50%;
}

.info {
  width: 50%;
}

.body > * {
  margin-bottom: 0.5rem;
}
