.item {
  text-align: left;
  width: 100%;
}

.item a:hover {
  text-decoration: none;
}

.item p {
  /* border-left: 3px solid #efefef; */
  display: block;
  /* padding: 0.5em 0 0.5em 1em; */
  font-size: 1em;
}

.previewImage {
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #ececec;
}

.previewImage img {
  display: block;
  width: 100%;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item h3 {
  font-size: 1.1em;
  color: #676767;
  font-weight: 600;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item .bottom {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.owner {
  display: flex;
  align-items: center;
}

.owner .profileImage {
  overflow: hidden;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 0.8em;
}

.owner > span {
  color: #676767;
  font-weight: 600;
}

.owner > span:hover {
  color: #676767;
}

.profileImage div {
  background-color: #36aed4;
  text-align: center;
  height: 100%;
  width: 100%;
}

.profileImage div span {
  color: white;
  line-height: 30px;
}

.username {
  text-transform: capitalize;
}
