.introduction {
  padding: 3em 0 12em 0;
  position: relative;
  background: linear-gradient(0deg, #eff7fc, #eff7fc);
}

.introduction .github {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2em 1.5em;
}

.introduction .row {
  text-align: center;
  justify-content: center;
}

.introduction .logo {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 60px;
}

.introduction .buttons {
  margin-top: 3em;
  display: flex;
}

.introduction .buttons a:first-child {
  margin-right: 1em;
}

.introduction h1 {
  color: #2b4869;
  font-size: 1.9em;
  line-height: 1.5em;
  font-weight: bold;
}

.demo {
  background-color: #fcfcfc;
  position: relative;
  display: flex;
  justify-content: center;
}

.demo .code_block {
  position: relative;
  top: -8em;
}

.perks {
  background-color: #fcfcfc;
  padding: 4em 0;
  position: relative;
  top: -8em;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);
}

.perks .perk_row {
  justify-content: center;
}

.perks .perk {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

.perks .perk .icon {
  width: 20px;
  height: 20px;
  margin-bottom: 2em;
  border: 1px solid rgb(202, 202, 202);
}

.perks .perk span {
  color: #a0a0a0;
  font-weight: bold;
}

.perks .separator {
  min-height: 100%;
  width: 1px;
  background-color: rgb(230, 230, 230);
}
