* img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.introduction {
  padding: 3em 0 11em 0;
  position: relative;
  background: url(../../../assets/logo.svg),
    linear-gradient(0deg, #eff7fc, #eff7fc);
  /* background: linear-gradient(0deg, #eff7fc, #eff7fc); */
}

.introduction .github {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2em 1.5em;
}

.introduction .row {
  text-align: center;
  justify-content: center;
}

.introduction .logo {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 70px;
}

.introduction .buttons {
  margin-top: 3em;
  display: flex;
}

.introduction .buttons a:first-child {
  margin-right: 1em;
}

.introduction h1 {
  color: #2b4869;
  font-size: 1.9em;
  line-height: 1.5em;
  font-weight: bold;
}

.demo {
  background-color: #fcfcfc;
  position: relative;
  display: flex;
  justify-content: center;
}

.demo .code_block {
  overflow: hidden;
  position: relative;
  top: -8em;
  text-align: center;
}

.demo .code_block img {
  border: 1px solid #ececec;
  border-radius: 5px;
  width: 90%;
}

.perks {
  background-color: #fcfcfc;
  padding: 4em 0;
  position: relative;
  top: -8em;
  margin-bottom: -8em;
  box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.055);
}

.perks .perk_row {
  justify-content: center;
}

.perks .perk {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  text-align: center;
  padding: 0 6em;
}

.perks .perk:first-child {
  padding-left: 2em;
}

.perks .perk:last-child {
  padding-right: 2em;
}

.perks .perk .icon {
  display: flex;
  height: 80px;
}

.perks .perk span {
  color: #919191;
  font-weight: 600;
}

.perks .separator {
  min-height: 100%;
  width: 1px;
  background-color: rgb(230, 230, 230);
}

.notebooks {
  padding: 6em 0;
  text-align: center;
}

.notebooks h2 {
  margin: 0 auto 1em auto;
}

.notebooks .text {
  text-align: center;
  width: 100%;
  padding: 0 6em;
}

.notebooks .overview {
  margin-top: 3em;
  padding: 0 2em;
  display: flex;
  justify-content: space-evenly;
}

.section_separator {
  margin: 0 auto;
  height: 1px;
  background-color: rgb(230, 230, 230);
  width: 100px;
}

.build {
  padding: 6em 0;
  justify-content: center;
}

.build * {
  justify-content: center;
}

.build p {
  text-align: center;
  width: 100%;
}

.build .buttons {
  margin-top: 4em;
}

.build .buttons > div:first-child {
  margin-bottom: 1em;
}

.build h2 {
  margin: 0 auto 1em auto;
}

.build .link {
  text-decoration: underline;
  font-weight: 600;
  color: #5f5f5f;
}

.footer {
  padding: 6em 0;
  background-color: #f6f6f6;
}
