.BubbleMenu {
  display: flex;
  background-color: transparent;
  margin: -0.3rem -0.5rem;
  padding: -0.1rem;
  border-radius: 0.5rem;
}

.BubbleMenu > button {
  border: 1px dotted #aaaaaa20;
  width: 20%;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  opacity: 0.6;
  transition: 0.2s;
}

.BubbleMenu > button:hover {
  opacity: 1;
}

.buttonTooltip {
  text-align: center;
}

.secondaryText {
  font-weight: 400;
  opacity: 0.6;
}

.hidden {
  display: none;
  visibility: hidden;
}
