.BubbleMenu {
  color: var(--N800);
  border: 1px solid var(--N40);
  background-color: white;
  border-radius: 4px;
}

.buttonTooltip {
  text-align: center;
  background-color: var(--N800);
  color: var(--N40);
  opacity: 0.6;
  border-radius: 5px;
  padding: 10px;
}

.secondaryText {
  font-weight: 400;
  opacity: 0.6;
}

.hidden {
  display: none;
  visibility: hidden;
}
