.formContainer {
  position: relative;
  width: 300px;
  height: 30px;
}

.inputField {
  position: absolute;
  left: 0px;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  width: 88%;
  height: 90%;
  font-size: 12px;
  border: 2px solid #fff;
  padding: 0.3rem 0.4rem;
  border-radius: 0.1rem;
  opacity: 0.8;
}

.submitButton {
  position: absolute;
  right: 0px;
  top: 50%;
  bottom: 50%;
  height: 90%;
  width: 10%;
  transform: translate(0, -50%);
  text-align: right;
  border: none;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.3rem 0 0.3rem;
  opacity: 0.6;
}

.submitButton:hover,
.submitButtonn.isactive {
  opacity:1;
}