.link-menu {
  display: flex;
  background-color: #0d0d0d;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.link-icon {
  color: #fff;
  opacity: 0.6;
  display: inline-block;
}

.link-icon-container {
  display: inline-block;
  vertical-align: middle;
  padding: 0.2rem 0.2rem;
}

.input-field {
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
  opacity: 0.6;
}

.submit-button {
  display: inline-block;
  font-size: 20px;
  border: none;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.3rem 0 0.3rem;
  opacity: 0.6;
}

.submit-button:hover,
.submit-buttonn.isactive {
  opacity:1;
}