.formContainer {
  /* placeholder for visability, to be replaced by Atlaskit */
  border: solid #172b4d;
  border-radius: 0.2rem;
  background-color: #172b4d;
  /* ------- */
  position: relative;
  width: 18.75rem;
  height: 1.875rem;
}

.inputField {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  width: 88%;
  height: 90%;
  font-size: 0.75rem;
  border: solid #fff;
  padding: 0.3rem 0.4rem;
  border-radius: 0.1rem;
  background-color: #fff;
  opacity: 0.8;
  transition: 0.2s;
}

.inputField:focus {
  opacity: 1;
}

.submitButton {
  position: absolute;
  right: 0px;
  top: 50%;
  height: 90%;
  width: 10%;
  transform: translate(0, -50%);
  text-align: right;
  border: none;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  padding: 0 0.3rem 0 0.3rem;
  opacity: 0.6;
  transition: 0.2s;
}

.submitButton:hover {
  opacity: 1;
}

.submitButton:active {
  opacity: 0.4;
}
