.link-icon {
  color: #fff;
  opacity: 0.6;
  display: inline-block;
}

.linkIconContainer {
  display: inline-block;
  vertical-align: middle;
  padding: 0.2rem 0.2rem;
}

.inputField {
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
  opacity: 0.6;
}

.submitButton {
  display: inline-block;
  font-size: 20px;
  border: none;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.3rem 0 0.3rem;
  opacity: 0.6;
}

.submitButton:hover,
.submitButtonn.isactive {
  opacity:1;
}