/*For the text inside the Node View Content*/
[data-node-view-content] > div {
  display: block;
  margin: 0;
  /* background: #eeeeee;  */
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #aeb8c2;
  pointer-events: none;
  height: 0;
}

.ProseMirror pre {
  padding: 8px;
  border-radius: 5px;
  background-color: #333 !important;
  color: #eee !important;
}

.ProseMirror blockquote {
  border-left: 2px solid #262626;
  color: #262626;
}

.ProseMirror hr {
  border: 1px solid #262626;
  border-radius: 5px;
  background-color: #262626;
}

blockquote {
  margin: 0;
}

.ProseMirror ul {
  margin: 0;
  padding: 0;
}

.ProseMirror li {
  margin-left: 1.1rem;
}

/* .children > div > div > .inner {
  padding-left: 1rem;
} */

.parent {
  width: calc(100% + 2rem);
  left: -1rem;
  position: relative;
}

.children {
  left: 1rem;
  position: relative;
}
