.draggable-item {
    display: block;
    padding: 0.2rem;
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    border: solid #aaaaaa 0.1rem;
    background: white;
}

.drag-handle {
    display: inline-block;
    vertical-align: top;
    flex: 0 0 auto;
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 1rem;
    margin-right: 0.5rem;
    cursor: grab;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.content {
    display: inline-block;
    vertical-align: top;
    padding: 0.5rem;
    margin: 0.5rem;
    background: #eeeeee;
    border-radius: 0.5rem;
}

.editor {
    margin: 10px;
}

.react-renderer {
    margin: 1rem;
}

.boundary {
    visibility: hidden;
    margin: 0.2rem;
}

/*p {*/
/*    margin: 0.2rem;*/
/*    padding: 0.2rem;*/
/*    border: solid turquoise;*/
/*}*/