/*For the text inside the Node View Content*/
[data-node-view-content] > div {
  display: block;
  margin: 0;
  /* background: #eeeeee;  */
}

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #aeb8c2;
  pointer-events: none;
  height: 0;
}

.ProseMirror pre {
  padding: 8px;
  border-radius: 5px;
  background-color: #333 !important;
  color: #eee !important;
}

.ProseMirror blockquote {
  border-left: 2px solid #262626;
  color: #262626;
}

.ProseMirror hr {
  border: 1px solid #262626;
  border-radius: 5px;
  background-color: #262626;
}

blockquote {
  margin: 0;
}

.ProseMirror ul {
  margin: 0;
  padding: 0;
}

.ProseMirror li {
  margin-left: 1.1rem;
}

.ProseMirror {
  overflow-x: hidden;
}

.indent {
  margin-left: 1.1rem;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
}

.ProseMirror blockquote {
  padding: 0.5rem 1rem;
}

.ProseMirror blockquote p {
  padding: 0.5rem 0;
}

.ProseMirror hr {
  position: relative;
  top: 0.5rem; /* half of handle height */
}

.selected {
  background-color: #DDEEFF;
  /*outline: solid #DDEEFF 0.4rem;*/
}

::selection {
  background-color: #AAD2FF;
}