.menu-list {
  list-style: none;
  border: solid 0.1em gray;
  border-radius: 0.25em;
  padding: 0.2em;
}

.menu-option {
  text-align: center;
  display: block;
  padding: 0.1em;
}

.menu-option:hover {
  cursor: pointer;
  color: blue;
}
