.linkerWrapper {
  display: flex !important;
  border-radius: 0.2rem;
}

.open {
  color: inherit;
  text-decoration: none;
}

.editingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #172b4d;
  border-radius: 0.2rem;
}

.editingWrapper > * {
  padding: 0.25rem;
  margin: 0.25rem;
}

.input {
  font-size: 0.8rem;
  width: 10rem;
  border-radius: 0.2rem;
  opacity: 0.8;
  outline: none;
  border: none;
}

.input:focus {
  opacity: 1;
}

.ok {
  font-size: 0.8rem;
  color: #ffffff;
  outline: none;
  border: none;
  background-color: #172b4d;
  opacity: 0.5;
}

.ok:hover {
  cursor: pointer;
  opacity: 1;
}
