.linkerWrapper {
  display: flex !important;
  border-radius: 0.2rem;
}

.open {
  color: inherit;
  text-decoration: none;
}

.open:hover {
  cursor: pointer;
}

.editingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.2rem;
  width: min-content !important;
}

.editingWrapper > * {
  padding: 0.25rem;
  margin: 0.25rem;
}

.separator {
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
}
.separator::before {
  content: "|";
  color: lightgray;
}

.separator:hover {
  cursor: auto !important;
  background: white !important;
}

.anchor:hover {
  cursor: pointer;
}
