name: build

on: ["push", "pull_request"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@master

      - name: Setup Node.js 16.x
        uses: actions/setup-node@master
        with:
          node-version: 16.x

      # doesn't seem to cause significant speed up, probably because it still needs to install deps
      - name: cache playwright
        id: playwright-cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/ms-playwright
          key: pw3-${{ runner.os }}-${{ hashFiles('./packages/**/package-lock.json') }}

      # doesn't seem to cause significant speed up, maybe not right conf?
      # - name: cache lerna
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       node_modules
      #       packages/**/node_modules
      #     key: lerna-${{ runner.os }}-${{ hashFiles('./package-lock.json') }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./packages/**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set correct access for docker containers (server/test/data)
        run: chmod -R a+rw test-server/data

      - name: Build the docker-compose stack
        run: docker-compose -f test-server/docker-compose.yml up -d

      - name: Check running containers
        run: docker ps -a

      - name: Check docker logs
        run: docker logs synapse

      - name: Bootstrap packages
        run: npm run bootstrap

      - name: Wait for Matrix
        run: npx wait-on http://localhost:8888/_matrix/static/

      - name: Build packages
        run: npm run build
        env:
          CI: true

      - name: Lint (we don't build React in CI, but at least lint it)
        run: npm run lint
        env:
          CI: true

      - name: Install Playwright
        run: npx playwright install --with-deps
        # if: steps.playwright-cache.outputs.cache-hit != 'true'
        # env:
        # PLAYWRIGHT_BROWSERS_PATH: 0 # https://github.com/microsoft/playwright/blob/main/docs/src/ci.md#caching-browsers

      - name: Run server
        # Wait on config file needed for vite dev server: https://github.com/jeffbski/wait-on/issues/78
        run: npm run start:local & npx wait-on http://localhost:5173 -c ./packages/editor/wait-on.conf.json
        env:
          CI: true

      - name: Run Playwright tests
        run: npm run playwright

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report-editor
          path: packages/editor/playwright-report/
          retention-days: 30

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report-engine
          path: packages/engine/playwright-report/
          retention-days: 30

      - name: Run Tests
        run: npm run test
        env:
          CI: true

      # - name: Upload to coveralls
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
